//- index.pug
doctype html
html
  head
    title Chief Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
      ul
        div#logo
          img(src="../static/logo.png")
          | CDA
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Contact us]
        li #[a(href="/") Class Info]
        li #[a(href="/") Services]
  section#introSection
    | Welcome to Chief Dance Academy 

  section#missionSection
    h3.mhead
      | Our Mission 
    div.card
      h3 Dance Perfection
      div.card-box
        div.card-img
          img(src="../static/p1.png")
        div.card-content  
          p this is best academy in this universe
    div.card
      h3 Dance the way of life
      div.card-box
        div.card-img
          img(src="../static/p2.png")
        div.card-content  
          p this is best academy in this universe

    div.card
      h3 Expert Teaching 
      div.card-box
        div.card-img
          img(src="../static/p3.png")
        div.card-content  
          p this is best academy in this universe 

  section#sponserSection
    h2 Our sponsers  
    div.sponsers
      img(src="../static/apple.jpg" alt="Sponser Image" class="spimage")
      img(src="../static/micro.jpg" alt="Sponser Image" class="spimage")
      img(src="../static/skype.jpg" alt="Sponser Image" class="spimage")
      img(src="../static/hp.png" alt="Sponser Image" class="spimage")

  footer#footer
    | Copyright © 2020 ChiefDanceAcademy.com | All right reservered

  script
    include ../static/index.js